.topnav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding:20px;
}

  .topnav-left {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 5px 7px;
  }

  .topnav span {
    color:white;
    font-size: 40px;
  }


  .topnav-right {
    float: right;
    color: #f2f2f2;
    background-color: dimgrey;
    text-align: center;
    padding: 5px 4px;
    text-decoration: none;
    font-size: 17px;
    
  }
  html{
      background-color:dimgray;
  }
