.home{
    text-align: center;
    grid-gap: 5px;
    display:grid;
    margin-top: 20px;
    background-color: #333;
    margin-left: 20%;
    margin-right: 20%;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.home a{
    text-decoration: none;
    background-color:gray;
    color:white;
    margin-left:30%;
    margin-right:30%;
    font-size: 14px;
    padding:2px;
    border: 1px solid white;
}

.home a:hover{
    background-color:white;
    color:black;
}
.home button{
    text-decoration: none;
    background-color:gray;
    color:white;
    width:40%;
    border: 1px solid white;
    padding:2px;
}
.home button:hover{
    background-color:white;
    color:black;
}